/*---------------FONT STYLES-----------------*/

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
  
.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-weight: 800;
    font-style: normal;
    color:white;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  
  .tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .bruno-ace-sc-regular {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/*---------------------------------------*/


/*-----------------BODY------------------*/
body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
/*---------------------------------------*/



/*---------------NAVIGATION -------------*/

.navbarExterior {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    position: fixed;
    top: 0;
    
}

#logo {
    height: auto;
    width: 150px;
    margin-left: -30px;
    margin-top: 20px;
}

.navbarInterior {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbarInterior ul {
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-top: 35px;
    margin-left: -25px;
}

.navbarInterior li {
    font-size: 1.5rem ;
    margin: 0;
}


.navbarInterior li a{
    text-decoration: none;
    color: white;
}

.navbarInterior li a:hover{
    text-shadow: -2px -1px 10px rgba(255,255,255,2);
}

.logincontainer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -75px;
    margin-top: -20px;
}

#loginicon {
    margin: 0;
    padding: 0;
    width: 65px;
    height: 65px;
}

/*---------------------------------------------*/




/*----------------ABOUT US---------------------*/
h1{
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 3.5rem;
    text-align: center;
}

h2{
    margin-top: 0;
    padding: 0;
     font-size: 45px;
    font-style: italic;
    text-align: center;
}


.textbox {
     width: 80%;
     height: auto;
     background-color: rgb(24, 23, 23);
     text-align: center;
     margin: 0 auto;
     line-height: 1.5;
     border-radius: 100px;
     position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.textbox::after, .textbox::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), rgb(0, 157, 255), rgb(211, 80, 102), white, rgb(0, 157, 255));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 100px;
    padding: 1px;
    animation: 10s spin linear infinite;
}

.textbox::before{
    filter: blur(15rem);
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}

.textbox p{
    font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-weight: bold;
      color: white;
}

.textbox p:nth-child(3){
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}
.textbox p:nth-child(4){
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}



.textbox ul{
    list-style: none;
}

.textbox li{
    opacity: 100%;
    display: inline;
    margin-left: 30px;
    color: white;
    text-align: left;
    animation:10s spin linear infinite;
}

.textbox li a{
    text-decoration: none;
    color: white;
}

.textbox li a:hover{
    text-decoration: underline;
    color: white;
   
}


.partnerscontainer {
    padding: 0;
    height: 150px;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
}

#firstPartner, #secondPartner {
    height: 100%;
    width: 20%;
    background-color: black;
    border-radius: 100px;
    display: inline-block; 
    margin: 0 10px;
}


p{
    color: white;
}

.faqselector{
    padding: 0;
    height: 150px;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(228, 46, 46, 0);
    text-align: center;
}

.faqselector h4{
    margin-top: 200px;
    color: white;
    font-size: 40px;
    text-decoration: underline;
}

.faqselector select{
    height: 40px;
    width: 50%;
    background-color: #333;
    color: white;
    transition: 0.2s all ease-in-out;
    border-color: white;
    border-radius: 20px;
    font-size: large;
    text-align: center;
}

.faqselector select:hover{
    height: 60px;
    width: 75%;
    
}

.answer{
    display: none;
    height: 40%;
    width: 50%;
    border: 2px solid #333;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    background-color: #000000;
    text-align: justify;
    font-size: large;
    margin-bottom: 0;
}

/*------------------------------------*/



/*--------------- FOOTER -------------*/

.footerheader{
    text-align: center;
    background-color: rgba(32, 29, 29, 0);
    width: 100%;
    height: auto;
    margin-top: auto;
}

.footerbar {
    width: 100%;
    height: auto;
    background-color: rgba(32, 29, 29, 0.455);
    display: flex; 
    justify-content: center; 
    gap: 40px; 
    padding: 20px 0; 
}

.footerbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerbar ul li:nth-child(1){
    font-weight: 800;
    margin-bottom: 35px;
}

.footerbar ul li {
    text-align: center; 
    margin-bottom: 10px; 
    color: white;
}

.footerbar a {
    text-decoration: none; 
    color: white; 
    text-shadow: -2px -1px 10px rgba(255,255,255,50);
}

.footerbar a:hover {
    color: #00ffdd;
    
}

/*------------------------------------*/



/*--------------HOMEPAGE--------------*/


/*------------NEWS CONTAINER----------*/

.white-box {
    width: 60%;
    height: 70%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20%; /* Center vertically */
    right: 10%; /* Push it to the right side */
    
}

.white-box::after, .white-box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), rgb(245, 60, 60), rgb(118, 36, 249), rgb(253, 74, 74));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 1px;
    animation: 10s spin linear infinite;
}

.white-box::before{
    filter: blur(1rem);
   
}

.news-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white; /* Adjust text color for contrast */
    z-index: 1; /* Ensure it appears above the background */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
}

.news-content.active{
    opacity: 1;
}



.news-content img{
    width: 50%;
    height: 100%;
    background-color: red;
    display: flex;
}

.whitebox-text{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background: rgba(128, 128, 128, 0.17);
}

.whitebox-text p:nth-child(1){
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
}

.whitebox-text p{
    font-size: larger;
    justify-content: left;
    margin-left: 20px;
    margin-right: 20px;
}

.whitebox-text a input[type="button"]{
    color: rgba(255, 255, 255, 0.823);
    margin-left: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
}

.whitebox-text a input[type="button"]:hover{
    color: white;
    text-shadow: -2px -1px 10px rgba(255,255,255,50);
}


.slider-button-last, .slider-button-next {
    position: absolute;
    height: 10%;
    width: 10%;
    background: transparent;
}

.slider-button-last {
    left: 20%; 
    top: 50%;    
}

.slider-button-next {
    right: 0; 
    top: 50%; 
}

.slider-button-last button, .slider-button-next button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

.slider-button-next button img {
    height: 100%;
    width: 80%;
    background: transparent;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.slider-button-last button img{
    rotate: 180deg;
    height: 100%;
    width: 80%;
    background: transparent;
    cursor: pointer;
    transition: 0.2s width ease-out;
}

.slider-button-next button img:hover, .slider-button-last button img:hover {
    width: 100%;
}

.whats-new {
    color: white;
    background: transparent;
    height: 200px;
    width: 200px;
    position: absolute; /* Absolute positioning */
    left: 5%; /* Adjust based on your layout */
    top: 25%; /* Adjust based on your layout */
    z-index: 10; /* Ensure it appears above other elements */
}

.whats-new  p:nth-child(1){
    font-size: 35px;
    margin-bottom: -20px;
}

.whats-new p:nth-child(2){
    margin-top: 0;
    font-size: 80px;
}

/*---------------------------------------------------*/


/*-------------------PRODUCTS------------------------*/

.partsbox {
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    background: rgb(7, 7, 7); /* Background color for partsbox */
    width: 100%;
    height: 100%; /* Height for the partsbox */
}


.gpubox, .cpubox, .mobobox, .kbmbox {
    width: 100%;
    height: 100%;
    background: #000000; /* Optional background color for individual boxes */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    transition: transform 0.35s ease-in-out;
}
 .gpubox:hover, .cpubox:hover, .mobobox:hover, .kbmbox:hover{
    transform: scale(1.02);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    pointer-events: none; /* Prevents any interaction with the text */
}

/* Make the text visible on hover */
.gpubox:hover .text-overlay, .cpubox:hover .text-overlay, 
.mobobox:hover .text-overlay, .kbmbox:hover .text-overlay {
    opacity: 1;
}


/*---------------------------------------------------------------*/

/*-----------------------NEARBY RETAILERS------------------------*/

.mapcontainer{
    margin: 0 auto;
    margin-top: 3%;
    height: 100%;
    width: 39%;
    background-color: rgb(0, 0, 0);
}

.regionFlacqMap, .regionPortLouis, .regionMahebourg, .regionReduit{
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, 0);
}

.branch-selector {
    margin-top: 12%;
    margin-left: 20%;
    background-color: rgba(128, 128, 128, 0);
    height: 40px; /* Set a fixed height */
    width: 60%;
    text-align: center;
    z-index: 10; /* Bring it in front of other elements if necessary */
    
}

.branch-selector label {
    color: white;
    font-size: 30px;
}

.branch-selector select {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    border: none;
}

.branch-selector option {
    color: black;
    font-size: 30px;
    background-color: rgba(90, 90, 90, 0.685);
}

.mapcontainer > div {
    display: none; /* Hide all maps by default */
}

.mapMauritius.active, .regionFlacqMap.active, .regionPortLouis.active, 
.regionMahebourg.active, .regionReduit.active {
    display: block; /* Show only the active map */
}



/*---------------------------------------------------------------*/
